<!DOCTYPE html>
<html>
    <head>
        <title>Moo</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/pub/css/main.css" />
    </head>
    <body>
        <div class="root" id="root"><%- markup -%></div>

        <!--<script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/pub/js/app.js"></script>-->

        <script type="text/javascript" src="/pub/js/bundle.js"></script>
    </body>
</html>